.top_text {
  color: aqua;
  justify-content: top;
}

.left_text {
  color: rgb(20, 184, 45);
  justify-content: top;
  visibility: visible;
}

.right_text {
  color: #66ccff;
  justify-content: top;
  visibility: visible;
}

.App-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}
