.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 27em;
    height: 100%;
    transition: all 250ms ease-in-out;
}

