@import 'bulma/css/bulma.css';

* {
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

h1 {
  font-family: "Segoe UI";
  text-align: center;
}

h2 {
  font-family: "Segoe UI";
}

p {
  font-family: "Segoe UI";
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Class Stylings */
.App {
  overflow: hidden;
}

.active {
  background-color: #18377a;
}

.title {
  text-align: center;
  font-size: 64px;
  padding-bottom: 1%;
}

.auth {
  background-color: #214ba7;
}
