.layout {
    height: 100%;
    display: flex;
    justify-content: center;
}

.back-arrow {
    /* background-color: red; */
    width: 10%;
    height: 100%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.back-arrow:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px inset;
}

.back-arrow:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 18px 0px inset;
}

.back-arrow img {
    /* background-color: green; */
    height: 100%;
    padding-left: 30%;
    padding-right: 50%;
}

.booking-form {
    width: 90%;
    height: 100%;
    /* background-color: yellow; */
    padding-right: 10%;
    overflow-y: scroll;
}
