/* Font Family Here */

/* Colour Scheme Here */

:root {
    --main-color:       #346EEB;
    --secondary-color:  #536DFE;
    --black-color:      #272838;
    --neutral_color_1:  #F3F5FF;
    --neutral_color_2:  #F3F5FF;
    --background-color: #F1F7FF;

    /* --dark-accent-color:       var(--main-color);    /* Main accent colour. Use for buttons or for anything to stand out. */
    /* --dark-secondary-color:    var(--secondary-color);    /* Darker shade of the main accent. Good for :hover on anything using the accent colour. */
    /* --dark-neutral-color_1:    #1E2834;    /* Darkest shade. Should be used for tiles/panels/cards to differentiate from background. */
    /* --dark-neutral-color_2:    #26323B;    /* background colour */
    /* --dark-netural-color_3:    #2F3E4B;    /* Use for tab ribbon or headers */
    /* --dark-netural-color_4:    #25313C;    /* Use for navbars I guess idk */
    /* --dark-neutral-text-color: #BFC5CA;    /* Use for unfocused text */
}