.auth {
  background-color: #214ba7;
}

.title {
  text-align: center;
  font-size: 64px;
  margin-top: 16px;
}

.clinic-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 10%;
  margin-right: 10%;
}

.clinic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.clinic-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.clinic-container h2 {
  margin-top: 10px;
  margin-bottom: 7px;
}

.clinic-inventory-container {
  width: 100%;
  margin-bottom: 20px;
}

.clinic-add-inventory-container {
  width: 100%;
  margin-bottom: 20px;
}

.clinic-inventory-container tr {
  margin-bottom: 5px;
}

.clinic-heading {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.clinic-break {
  width: 95%;
}

.clinic-table {
  width: 100%;
  text-align: center;
}

.clearbtn {
  background-color: #fa3c26;
}

.clinic-inventorybox {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  width: 100%;
}

.clinic-opt-in {
  float: right;
  padding-left: 10px;
  text-align: center;
}

.chk-checkbutton {
  float: left;
}

.clinic-container td {
  vertical-align: middle;
}

tr:hover {
  background-color: var(--neutral_color_2);
  transition: all 0.2s ease-in-out;
}

.addbtn {
  background-color: #4CAF50;
  color: var(--neutral_color_1);
  cursor: pointer;
}
.addbtn:focus {
  background-color: #4CAF50;
  color: var(--neutral_color_1);
}
.addbtn:active {
  background-color: #4CAF50;
  color: var(--neutral_color_1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 16px -18px inset;
}