@import 'bulma/css/bulma.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #346eeb;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Segoe UI";
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:#224dab;
}

h1 {
  font-family: "Segoe UI";
  text-align: center;
}

h2 {
  font-family: "Segoe UI";
}

p {
  font-family: "Segoe UI";
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Class Stylings */

.active {
  background-color: #18377a;
}

.title {
  text-align: center;
  font-size: 64px;
}

.auth {
  background-color: #214ba7;
}

* {
  box-sizing: border-box;
}

.box-description {
  text-align: center;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "box-container__individual box-container__or box-container__clinic";
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px;
}

.box-container div {
  float: left;
  width: 75%;
  height: auto;
  text-align: center;
  line-height: 300px;
  background-color: #346eeb;
}

.box-container div:hover {
  background-color: #224dab;
}

.box-container a {
  color: white;
  text-decoration: none;
}

.box-container__individual {
  grid-area: box-container__individual;
  justify-self: right;
  margin-right: 10%;
}

.box-container__or {
  grid-area: box-container__or;
  text-align: center;
}

.box-container__clinic {
  grid-area: box-container__clinic;
  justify-self: left;
  margin-left: 10%;
}

.box {
  width: 50%;
  float: left;
  padding: 230px;
  text-align: center;
  color: white;
  background-color: #346eeb;
  margin: auto;
  border: 50px solid white;
  line-height: 300px;
}

/* 
.box a:hover {
  background-color:#224dab;
} */

.container {
  padding: 16px;
}

/* Input Stylings */

/*
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
*/

input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input :focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}