/* h1 {
    font-size: 100px
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.linkButton {
    float: left;
    background-color: var(--main-color);
    border: 10px white;
    color: white;
    display: block;
    width: 30%;
    height: 30%;
    text-align: center;
    padding: 100px;
}

.linkButtonWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.clinicButton-text {

    float: left;
    background-color: var(--main-color);
    border: 10px white;
    color: white;
    display: block;
    width: 30%;
    height: 30%;
    text-align: center;
    padding: 100px;
    margin-left:20px;
    margin-top: 20px;
}

.indvButton-text {

    float: right;
    background-color: var(--main-color);
    border: 10px white;
    color: white;
    display: block;
    width: 30%;
    height: 30%;
    text-align: center;
    padding: 100px;
    margin-right:20px;
    margin-top: 20px;
}

.indv {
    color: white;
    width: fit-content;
    height: fit-content;
}

.clinic {
    color: white;
    width: fit-content;
    height: fit-content;
} */

html {
    height: 100%;
}

body {
    height: 100%;
}

.header {
    height: 20%;
    width: 100%;
    align-content: center;
    display: table;
    margin-bottom: 5px;
    padding: 3px;
    /* margin: auto; */
    /* vertical-align: middle; */
    background-color: var(--background-color);
}

.header h1 {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    font-size: 100px;
    display: table-cell;
    vertical-align: middle;
}

.choice {
    height: 80%;
    /* background-color: red; */
    justify-content: space-around;
    display: flex;
    background-color: var(--neutral_color_1);
}

.choice div {
    /* background-color: blue; */
    margin: auto;
    cursor: pointer;
}

.choice img {
    height: 400px;
    width: 400px;
    mix-blend-mode: multiply;
}

.choice h2 {
    font-size: 50px;
    text-align: center;
}

.individual-box {
    padding-left: 10%;
}

.clinic-box {
    padding-right: 10%;
}
