/* Font Family Here */

/* Colour Scheme Here */

:root {
    --main-color:       #346EEB;
    --secondary-color:  #536DFE;
    --black-color:      #272838;
    --neutral_color_1:  #F3F5FF;
    --neutral_color_2:  #F3F5FF;
    /* --background-color: #F1F7FF; */
    --background-color: #DCE9FB;

    /* --dark-accent-color:       var(--main-color);    /* Main accent colour. Use for buttons or for anything to stand out. */
    /* --dark-secondary-color:    var(--secondary-color);    /* Darker shade of the main accent. Good for :hover on anything using the accent colour. */
    /* --dark-neutral-color_1:    #1E2834;    /* Darkest shade. Should be used for tiles/panels/cards to differentiate from background. */
    /* --dark-neutral-color_2:    #26323B;    /* background colour */
    /* --dark-netural-color_3:    #2F3E4B;    /* Use for tab ribbon or headers */
    /* --dark-netural-color_4:    #25313C;    /* Use for navbars I guess idk */
    /* --dark-neutral-text-color: #BFC5CA;    /* Use for unfocused text */
}

.vt-main-button {
    background-color: var(--secondary-color);
    color: var(--neutral_color_1);
    box-shadow: 1px 3px 3px -1px rgba(15, 15, 15, 0.4);
    border-radius: 5px;
    transition: all 250ms ease-in-out;
}

.vt-main-button:hover {
    background-color: #3e5bff;
}

.vt-main-button:focus {
    outline: none;
}

.vt-main-button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}